<div class="row">

  <nav class="col-sm-6">
    <div class="panel panel-info">
      <header class="panel-heading">
        Local Login
      </header>
      <div class="panel-body">
        <%= form_for :session, url: auth_local_url do |f| %>

            <%= f.label :email %>
            <%= f.text_field :email, class: 'form-control', required: true %>

            <%= f.label :password %>
            <%= f.password_field :password, class: 'form-control margin-bottom', required: true %>

            <%= f.submit 'Login', class: 'btn btn-success' %>
            or <%= link_to 'Register', new_auth_local_registration_url %>

        <% end %>
      </div>
    </div>
  </nav>

  <nav class="col-sm-6">
    <% if Rails.application.config.try(:oauth2).try(:provider).try(:shibboleth).try(:enabled) %>
        <div class="panel panel-primary">
          <header class="panel-heading">
            Campus Login
          </header>
          <div class="panel-body">
            <p>Have a campus login account?</p>
            <p class="small">
              Campus Login is currently available for UCLA, UCSC, UCSD, UC Berkeley and Berkeley Lab, UC Merced, and UC Davis.
              More UC campuses will be added soon. If you are from a UC campus/location not on this list, please use Local Login for now.
            </p>
            <p><%= link_to 'Log In with Campus Account', auth_oauth2_launch_url(:shibboleth), class: 'btn btn-primary' %></p>
          </div>
    <% end %>
    </div>
  </nav>

</div>
