<div class="row">
  <nav class="col-sm-1"></nav>

  <nav class="col-sm-5">
    <% if Rails.application.config.try(:oauth2).try(:provider).try(:shibboleth).try(:enabled) %>
        <div class="panel panel-primary">
          <header class="panel-heading">
            <h1>Campus Login</h1>
          </header>
          <div class="panel-body">
            <p><b>Have a campus login account?</b></p>
            <p class="small">
              Campus Login is currently available for UCLA, UCSC, UCSD, UCSF, UC Berkeley and Berkeley Lab, UC Merced, UC Davis, and UC ANR.
              More UC campuses will be added soon. If you are from a UC campus/location not on this list, please use Local Login for now.
            </p>
            <%= button_to "Log in with campus account", auth_oauth2_launch_url(:shibboleth), class: "btn btn-learn-more btn-auto-size", form_class: "full-width text-center", method: :get %>
          </div>
    <% end %>
    </div>
  </nav>

  <nav class="col-sm-5">
    <div class="panel panel-primary">
      <header class="panel-heading">
        <h1>Local Login</h1>
      </header>
      <div class="panel-body">
        <%= form_for :session, url: auth_local_url do |f| %>

            <%= f.label :email %>
            <%= f.text_field :email, class: 'form-control', required: true %>

            <%= f.label :password %>
            <%= f.password_field :password, class: 'form-control margin-bottom', required: true %>

            <%= f.submit 'Login', class: 'btn btn-learn-more' %>
            or <%= link_to "Forgot Password", new_password_reset_path %>


        <% end %>
      </div>
    </div>
  </nav>

  <nav class="col-sm-1"></nav>
</div>
