<%= form_for @idea, html: { class: 'form-horizontal' } do |f| %>
  <%= render 'shared/errors', :object => @idea %>

  <% if params[:return_to] %>
    <%= f.hidden_field :return_to, name: :return_to, value: params[:return_to] %>
  <% end %>

  <div class="form-group">
    <%= f.label :name, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :idea_status_id, 'Status', class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.select :idea_status_id,
                   options_for_select(@idea_statuses.map(){ |o| [ o.name, o.id] }, @idea.idea_status_id),
                   {},
                   { class: 'form-control' } %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :pitch, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_area :pitch, class: 'form-control', rows: 2 %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :description, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_area :description, class: 'form-control', rows: 12 %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :competencies, 'Related Competencies', class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.select :competencies,
                   options_for_select(@competencies.map(){ |i| [ i.name, i.id] }, @idea.competency_ids),
                   {},
                   { class: 'form-control', multiple: true, style: 'height: 16rem' } %>
    </div>
  </div>

  <% unless @idea.new_record? %>
    <div class="form-group">
      <%= f.label :transfer_founder, class: 'col-sm-2 control-label' do %>
        <%= tooltip "Transfer Founder", "Enter the email address of the new founder of this idea." %>
      <% end %>
      <div class="col-sm-10">
        <%= f.email_field :idea_roles, class: 'form-control', maxlength: 255, placeholder: 'founder@ucnext.org', value: @founder_email %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-10 col-sm-offset-2">
        <%= f.check_box :virtual_attribute %>
        <%= f.label :virtual_attribute do %>
          <small>If you are transferring founder, check if you wish to remove all of previous founders involvement in the idea</small>
        <% end %>
      </div>
    </div>
  <% end %>

  <% if @idea.new_record? %>
    <div class="form-group">
      <%= f.label :privacy_org, class: 'col-sm-2 control-label' do %>
        <%= tooltip "Campus-specific", "If a campus is selected, only members of that campus can view this idea." %>
      <% end %>
      <div class="col-sm-10">
        <%= f.collection_select :privacy_org, Organization.all, :id, :name,
          { include_blank: 'Global' },
          { class: 'form-control' }
        %>
      </div>
    </div>

  <% elsif @idea.privacy_org %>
    <div class="form-group">
      <%= f.label :global, class: 'col-sm-2 control-label' do %>
        <%= tooltip "Campus-specific", "If set to global, all NeXt users and guests will be able to view this idea." %>
      <% end %>
      <div class="col-sm-10">
        <%= f.radio_button :global, false %>
        <%= f.label :global_false, "Viewable only to #{@idea.privacy_org.name}" %><br>
        <%= f.radio_button :global, true %>
        <%= f.label :global_true, "Global" %>
      </div>
    </div>
  <% end %>

  <% if @idea.new_record? || @idea.privacy_org %>
    <div class="form-group">
      <div class="col-sm-10 col-sm-offset-2">
        <small class="text-danger">
          Warning: if you make this idea global, you cannot make it campus-specific later!
        </small>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit(@idea.new_record? ? 'Create' : 'Update', class: 'btn btn-success') %>
    </div>
  </div>

<% end %>

<script src="//cdn.ckeditor.com/4.4.6/full/ckeditor.js"></script>
<script type="text/javascript">
  CKEDITOR.replace( 'idea_description' );
</script>
