<div class="row">
  <div class="col-sm-4 col-sm-offset-4 text-center">
    <h2 class="valign-middle">
      <span class="header-icon hidden-xs">
        <%= image_tag "/images/header_icons/ideas.png", { class: "img-responsive" } %>
      </span>
      <span>Ideas</span>
    </h2>
  </div>

  <div class="col-sm-4">
    <% if current_user %>
    <%= button_to 'Propose Idea',
                  new_idea_url,
                  method: :get,
                  class: 'btn btn-create btn-block',
                  form_class: 'button_to pull-right' %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h1>UC NeXt Ideas</h1>

    <p>
      Ideas are the currency of the 21st Century, so collecting them,
      sharing them, and valuing them is the first step in creating a
      culture of innovation in the IT community at the UC!
    </p>
    <p>
      As you are going through your day keep in mind that your ideas are
      important, they matter, and that others might help you with them,
      if they just knew about them.
    </p>
    <p>
      Think of the UC Next platform - when you have that stroke of Genius,
      as the place to put these ideas, so that collectively we can move the
      bar across the system, and innovate faster with more alignment with
      our shared mission of Education, Research and Service!
    </p>

    <div class="panel panel-default">
      <div class="panel-body">
        <p>
          The Information Technology Leadership council has agreed that a
          tool like UC Next is the kind of platform that the IT community
          of the UC needs!
        </p>
        <p>
          They have agreed to look at our top 5 new ideas each month at
          their monthly meetings, that explains just how important the CIOs
          of the UC feel your ideas are!
        </p>
      </div>
    </div>

    <h1>Trending UC-Wide Ideas</h1>
    <ul class="list-group list-group-secondary">
      <li class="list-group-item row tight-row">
        <div class="col-xs-8 col-sm-10 col-md-9 tight-col-left">Rank</div>
        <div class="col-xs-4 col-sm-2 col-md-3 tight-col text-right">Votes</div>
      </li>
      <% @top_ideas.each_with_index do |idea, i| %>
        <li class="list-group-item row tight-row">
          <div class="col-xs-8 col-sm-10 col-md-9 tight-col-left">
            <%= i + 1 %>.
            <%= link_to_idea idea %>
          </div>
          <div class="col-xs-4 col-sm-2 col-md-3 tight-col-buttons text-right">
            <% if current_user %>
              <%= button_to '+1', '#', class: 'btn btn-support btn-auto-size modal-button', method: :get %>
              <%= render partial: "shared/vote_dialog", locals: {
                object: idea,
                button_text: [
                  'Good idea',
                  'Would participate',
                  'Learn more'
                ]
              } %>
            <% end %>
            <div class="bubble-right-small">
              <%= idea.idea_votes.count %>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="col-md-6">
    <h1 class="valign-middle">
      <span>Ideas Engagement Meter</span>
      <span class="header-icon hidden-xs">
        <%= image_tag "/images/header_icons/engagement_meter.png", { class: "img-responsive" } %>
      </span>
    </h1>
    <%= render partial: "shared/engagement_meter", locals: { type: :ideas } %>
  </div>
</div>

<% if @ideas.any? %>
  <h1 class="text-center">UC NeXt Ideas</h1>

  <div class="panel-table container-fluid">
    <% @ideas.each_with_index do |idea, i| %>
      <% if i % 3 == 0 %>
        <div class="row">
      <% end %>

      <div class="col-md-4 panel-cell">
        <div class="pull-right">
          <% if current_user && idea.is_viewable_by?(current_user) %>
            <%= button_to '+1', '#', class: 'btn btn-support btn-auto-size modal-button', form_class: 'pull-right', method: :get %>
            <%= render partial: "shared/vote_dialog", locals: {
              object: idea,
              button_text: [
                'Good idea',
                'Would participate',
                'Learn more'
              ]
            } %>
          <% end %>
          <div class="bubble-below clear-both small">
            <div class="table-row">
              <div class="table-cell">
                Supporters
              </div>
              <div class="table-cell">
                <%= idea.idea_votes.count %>
              </div>
            </div>
            <div class="table-row valign-middle">
              <div class="table-cell extra-padding">
                Would participate
              </div>
              <div class="table-cell">
                <%= idea.idea_votes.where(participate: true).count %>
              </div>
            </div>
          </div>
        </div>

        <h4>
          <%= link_to_idea idea %>
        </h4>
        <% if idea.is_viewable_by?(current_user) %>
          <p>
            <%= idea.pitch.ellipsis(400) %>
          </p>
          <p class="condensed">
            <small>
              Proposed
              <% if idea.idea_roles.founders.count > 0 %>
                by
                <%= idea.idea_roles.founders.includes(:user).map { |r| link_to_user r.user }.to_sentence.html_safe %>
              <% end %>
              on
              <%= idea.created_at.strftime("%B %d, %Y") %>
            </small>
          </p>
        <% end %>

        <%= image_tag(
          "/images/organizations/" + (idea.organizations.first.try(:name) || "UC-Wide") + ".png",
          height: 20,
          class: "campus-logo"
        ) %>
      </div>

      <% if i % 3 == 2 %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>

<%= will_paginate @ideas %>
