<div class="profile">

  <div class="row">

    <div class="col-lg-9 col-sm-8">

      <h2><%= @idea.name %></h2>

      <div class="subtitle">
        <%= raw @idea.pitch_html %>
      </div>

      <%= raw @idea.description_html %>

    </div>

    <div class="col-lg-3 col-sm-4">

      <%= link_to 'Good Idea', '#', class: 'btn btn-info btn-block' %>
      <%= link_to 'Would Participate', '#', class: 'btn btn-success btn-block' %>
      <%= link_to 'Edit', edit_idea_url(@idea), class: 'btn btn-warning btn-block' %>

      <h4>Status</h4>

      <p><%= @idea.idea_status.name %></p>

      <h4>Supporters</h4>

      <ul>
        <li>Joe Bruin</li>
        <li>Scotty the Bear</li>
        <li>Timmy Triton</li>
        <li>Peter the Anteater</li>
      </ul>

      <p><%= link_to 'See More', '#' %></p>

    </div>

  </div>

</div>


