<div class="profile">

  <h2><%= @idea.name %></h2>

  <div class="row">

    <div class="col-lg-9 col-sm-8">

      <div class="subtitle">
        <%= @idea.pitch %>
      </div>

      <%= raw @idea.description_html %>

      <%
         if @idea.competencies.count > 0
           rows = [[]]
           @idea.competencies.each do |competency|
             if rows[rows.length - 1].length > 2
               rows << []
             end
             rows[rows.length - 1] << competency
           end
      %>
        <div class="margin-bottom">
          <section class="panel panel-default">
            <header class="panel-heading">
              <h3 class="panel-title">Related Competencies</h3>
            </header>
            <div class="panel-body">
              <% rows.each do |row| %>
                <div class="row">
                  <% row.each do |col| %>
                    <div class="col-md-4"><%= link_to col.name, col %></div>
                  <% end %>
                </div>
              <% end %>
            </div>
          </section>
        </div>
      <% end %>

      <% if @idea.projects.length > 0 %>
        <div class="margin-bottom">
          <section class="panel panel-default">
            <header class="panel-heading">
              <h3 class="panel-title">Related Projects</h3>
            </header>
            <div class="panel-body">
              <ul class="list-unstyled">
                <% @idea.projects.order(name: :asc).each do |project| %>
                  <li><%= link_to project.name, project %></li>
                <% end %>
              </ul>
            </div>
          </section>
        </div>
      <% end %>

    </div>

    <div class="col-lg-3 col-sm-4">

      <section class="panel panel-invisible">

        <% unless @idea.has_been_voted_for_by? context.user %>

        <%= button_to 'Good Idea',
                      idea_votes_url(@idea),
                      method: :post,
                      params: { participate: false },
                      class: 'btn btn-info btn-block',
                      form_class: 'button_to full-width' %>

        <%= button_to 'Would Participate',
                      idea_votes_url(@idea),
                      method: :post,
                      params: { participate: true },
                      class: 'btn btn-success btn-block',
                      form_class: 'button_to full-width' %>

        <% end %>

        <% if @idea.is_editable_by? context.user %>
        <%= button_to 'Edit',
                      edit_idea_url(@idea),
                      method: :get,
                      class: 'btn btn-warning btn-block',
                      form_class: 'button_to full-width' %>
        <% end %>

      </section>

      <section class="panel panel-default">
        <header class="panel-heading">
          <h4 class="panel-title">Status</h4>
        </header>
        <div class="panel-body">
          <p><%= @idea.idea_status.name %></p>
        </div>
      </section>

      <% if @idea.idea_roles.founders.count > 0 %>

        <section class="panel panel-default">
          <header class="panel-heading">
            <h4 class="panel-title">Founders</h4>
          </header>
          <div class="panel-body">
            <ul>
              <% @idea.idea_roles.founders.each do |idea_role| %>
                <li><%= link_to idea_role.user.display_name, idea_role.user %></li>
              <% end %>
            </ul>
          </div>
        </section>

      <% end %>

      <%
      votes_count = @idea.idea_votes.count
      if votes_count > 0 %>

        <section class="panel panel-default">
          <header class="panel-heading">
            <h4 class="panel-title">Supporters</h4>
          </header>
          <div class="panel-body">
            <ul>
              <% @idea.idea_votes.take(5).each do |idea_vote| %>
                <li><%= link_to idea_vote.user.display_name, idea_vote.user %><% if idea_vote.participate %> <strong style="font-size: 1.2rem">&#9734;</strong><% end %></li>
              <% end %>
            </ul>
          </div>
        </section>

      <% if votes_count > 5 %>
      <p><em><%= link_to 'See More...', '#' %></em></p>
      <% end %>

      <% end %>

    </div>

  </div>

</div>


