<div class="well">
  <h3><%= comment.title %></h3>
  <p class="text-muted"><%= link_to comment.user.display_name, comment.user %>&nbsp;<%= l(comment.created_at, format: '%B, %d %Y %H:%M:%S') %></p>
  <blockquote>
  	<p>&nbsp;<%= comment.body %>&nbsp;<%= link_to_if current_user, 'Reply',  new_comment_path(comment.id) , :remote => true, :class => 'comment_reply_link' %></p>
  </blockquote>
</div>
