<div class="well">
  <h3><%= comment.title %></h3>
  <p class="text-muted"><%= link_to comment.user.display_name, comment.user %>&nbsp;<%= l(comment.created_at, format: '%B, %d %Y %H:%M:%S') %></p>
  <blockquote>
  	<p>&nbsp;<%= comment.body %>&nbsp;
  	<% if current_user %>
  	   <%= link_to new_comment_path(comment.id) , :remote => true, :class => 'comment_reply' do %>
  	     <span class="glyphicon glyphicon-share-alt" aria-hidden="true" title="Reply"></span>
  	   <% end %>
  	<% end %> 
    <%  if comment.is_editable_by?(current_user) %>
      <%= link_to comment_path(comment, :return_to => @comment_return_to), method: :delete, data: { confirm: 'Are you sure?' } do %>
        <span class="glyphicon glyphicon-remove" aria-hidden="true" title="Delete Comment"></span>
      <% end %>
  	<% end %>	
  </p>
  </blockquote>
</div>
