<h2>Search Results</h2>

<nav class="panel panel-info">
  <header class="panel-heading">
    <a href="#" style="display:block;text-decoration:none" id="toggle-search-body">Refine Search</a>
  </header>
  <div class="panel-body" id="search-body">
    <form action="<%= search_url %>" role="search">
      <div class="form-group">
        <input name="query" type="text" class="form-control" placeholder="Search" value="<%= params[:query] ? params[:query] : '' %>">
      </div>
      <div class="form-group">
        <%= select_tag :type, options_for_select([['-- All --','all'],['Ideas','ideas'],['Projects','projects'],['People','users']], (params[:type] ? params[:type] : 'all')), { class: 'form-control' } %>
      </div>
      <button type="submit" class="btn btn-primary">Search Again</button>
    </form>
  </div>
</nav>

<div class="list-group">
  <% @results.each do |result| %>
    <% next unless result.model.is_viewable_by? current_user %>
    <a class="list-group-item" href="<%= url_for result.model %>">
        <h5><%= result.title %> <span class="text-muted">( <%= result.type %> )</span></h5>
        <div style="font-size:0.85em; font-style:italic"><%= simple_format result.description %></div>
    </a>
  <% end %>
</div>

<script type="text/javascript">
  $('#search-body').hide();
  $('#toggle-search-body').click(function(e){
    e.preventDefault();
    $('#search-body').toggle();
  });
</script>
