<div class="profile">
  <h2>
    <%= @badge.name %>
    <%= image_tag @badge.image %>
  </h2>

  <div class="row">
    <div class="col-lg-9 col-sm-8">
      <div class="subtitle">
        <% if @badge.badge_group %>
        <%= @badge.badge_group.name %>
        <% end %>
        <%= @badge.type %>
      </div>
      <p><%= @badge.description %></p>
    </div>

    <div class="col-lg-3 col-sm-4">
      <section class="panel panel-invisible">
        <% if @badge.is_editable_by? current_user %>
          <%= button_to 'Edit',
                        edit_badge_url(@badge),
                        method: :get,
                        class: 'btn btn-edit btn-block',
                        form_class: 'button_to full-width'
          %>
          <%= button_to 'Delete',
                        badge_url(@badge),
                        method: :delete,
                        class: 'btn btn-delete btn-block',
                        form_class: 'button_to full-width',
                        data: { confirm: 'Are you sure you want to delete this badge?' }
          %>
        <% end %>
      </section>
    </div>
  </div>
</div>
