<%= csrf_meta_tag %>
<%= javascript_tag "var AUTH_TOKEN = '#{form_authenticity_token}';" if protect_against_forgery? %>

<% if current_user %>
    <%= button_to 'Create Group',
                  new_group_url,
                  method: :get,
                  class: 'btn btn-warning btn-block',
                  form_class: 'button_to pull-right' %>
<% end %>

<h1>Groups</h1>

<% if current_user %>

<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active"><a href="#all" aria-controls="all" role="tab" data-toggle="tab">All Groups</a></li>
  <li role="presentation"><a href="#my" aria-controls="my" role="tab" data-toggle="tab">My Groups</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="all" style="padding-top:16px">

    <% end %>

    <%= will_paginate @groups %>

    <div class="list-group">
      <% @groups.each do |group| %>
          <a class="list-group-item" href="<%= group_url(group) %>">
            <div class="row">
              <div class="col-sm-10">
                <h4><%= group.name %></h4>
              </div>
            </div>
          </a>
      <% end %>
    </div>

    <%= will_paginate @groups %>

  <% if current_user %>

  </div>
  <div role="tabpanel" class="tab-pane" id="my" style="padding-top:16px">

    <% # TODO: this needs serious rework %>

    <div id="autocomplete_groups">
      <div style="margin-bottom: 1em;">
        <%= text_field_tag 'groups', '', class: 'form-control' %>
      </div>
      <div id ="user_groups">
        <%= render 'user_groups/user_groups' %>
      </div>
    </div>
    <div id="new_group" style="display: none">
      <%= render 'groups/new_group' %>
    </div>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <%= javascript_include_tag 'groups.js' %>

  </div>
</div>

<% end %>