<div class="row">
  <div class="col-sm-4 col-sm-offset-4 text-center">
    <h2 class="valign-middle">
      <span class="header-icon hidden-xs">
        <%= image_tag "/images/header_icons/groups.png", { class: "img-responsive" } %>
      </span>
      <span>Groups</span>
    </h2>
  </div>

  <div class="col-sm-4">
    <% if current_user %>
      <%= button_to 'Create Group',
        new_group_url,
        method: :get,
        class: 'btn btn-create btn-block',
        form_class: 'button_to pull-right'
      %>
    <% end %>
  </div>
</div>

<% if @groups.any? %>
  <h3 class="text-center">All Groups</h3>

  <div class="panel-table panel-table-secondary container-fluid">
    <% @groups.each_with_index do |group, i| %>
      <% if i % 3 == 0 %>
        <div class="row">
      <% end %>

      <div class="col-md-4 panel-cell">
        <div class="pull-right">
          <% if current_user %>
            <% if UserGroup.where(group_id: group.id, user_id: current_user.id).count > 0 %>
              <%= button_to 'Joined', '#',
                class: 'btn btn-transparent',
                form_class: 'pull-right',
                disabled: true
              %>
            <% else %>
              <%= button_to 'Join',
                user_groups_url({ id: group.id, return_to: groups_url }),
                method: :post,
                class: 'btn btn-participate',
                form_class: 'pull-right'
              %>
            <% end %>
          <% end %>
        </div>

        <h4>
          <%= link_to group.name, group %>
        </h4>
        <p>
          <%= raw group.description %>
        </p>
        <%= button_to 'More Information',
          group_url(group),
          method: :get,
          class: 'btn btn-learn-more',
          form_class: 'text-center'
        %>

        <p class="condensed">
          <small>
            <% unless group.contact_email.blank? %>
              Contact | <%= mail_to group.contact_email %>
            <% end %>
          </small>
        </p>
      </div>

      <% if i % 3 == 2 %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>

<%= will_paginate @groups %>
