<div class="group">

  <div class="pull-right">
    <% if current_user %>
      <% if UserGroup.where(group_id: @group.id, user_id: current_user.id).count > 0 %>
        <%= button_to 'Leave',
                      user_groups_url({group_id: @group.id, return_to: group_url(@group)}),
                      method: :delete,
                      class: 'btn btn-participate',
                      form_class: 'button_to'
        %>

      <% elsif @group[:membership_type] == "Invite-only" %>
        <%= button_to 'Invite-only', '#',
                      class: 'btn btn-transparent',
                      form_class: 'button_to',
                      disabled: true
        %>
      <% else %>
        <%= button_to 'Join',
                      user_groups_url({id: @group.id, return_to: group_url(@group)}),
                      method: :post,
                      class: 'btn btn-participate',
                      form_class: 'button_to'
        %>
      <% end %>
      <% if @group.is_editable_by? current_user %>
        <%= button_to 'Edit',
                      edit_group_url(@group),
                      method: :get,
                      class: 'btn btn-edit',
                      form_class: 'button_to'
        %>
        <%= button_to 'Delete',
                      group_url(@group),
                      method: :delete,
                      class: 'btn btn-delete',
                      form_class: 'button_to',
                      data: { confirm: 'Are you sure you want to delete this group?' }
        %>
      <% end %>
    <% end %>
  </div>

  <h1><%= @group.name %></h1>

  <div class="row">
    <div class="col-md-6">
      <section class="panel panel-default">
        <div class="panel-body">
          <h3>Details</h3>
          <p>
            Meeting Times &amp; Locations |
            <%= raw @group.meetings_html %>
          </p>
          <p>
            Contact |
            <%= mail_to @group.contact_email %>
          </p>
          <p>
            Listserv |
            <%= @group.listserv %>
          </p>
        </div>
      </section>
    </div>

    <div class="col-md-6">
      <section class="panel panel-default">
        <div class="panel-body">
          <h3>Description</h3>
          <% @group.badges.each do |badge| %>
            <%= link_to(badge_path(badge)) do %>
              <%= image_tag badge.image.thumb, class: "pull-left group-badge-icon" %>
            <% end %>
          <% end %>
          <%= raw @group.description_html %>
        </div>
      </section>

      <section>
        <h3>Members</h3>
        <ul class="list-group list-with-avatars">
          <% @group.users.each do |user| %>
            <li class="list-group-item">
              <% if user.profile_image.blank? %>
                <%= image_tag "/images/profile/default-80x80.png", height: 40, width: 40 %>
              <% else %>
                <%= image_tag "data:img/png;base64,#{user.profile_image}", height: 40, width: 40 %>
              <% end %>
              <%= link_to_user user %>
            </li>
          <% end %>
        </ul>
      </section>
    </div>
  </div>
</div>
