<%= stylesheet_link_tag 'token-input.css' %>
<%= javascript_include_tag 'jquery.tokeninput.js' %>

<%= form_for @user, html: { class: 'form-horizontal' } do |f| %>

  <fieldset>

    <% if @user.password_hash and @user.password_hash.length > 0 %>

    <legend>Account</legend>

    <div class="form-group">
      <%= f.label :email, 'Email', class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.text_field :email, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :password, 'New Password', class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.password_field :password, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, 'New Password (verify)', class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
    </div>

    <% end %>

    <legend>Basic</legend>

    <div class="form-group">
      <%= f.label :name_first, 'First Name', class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.text_field :name_first, class: 'form-control', required: true %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :name_middle, 'Middle Name', class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.text_field :name_middle, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :name_last, 'Last Name', class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.text_field :name_last, class: 'form-control', required: true %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :name_suffix, 'Suffix', class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.text_field :name_suffix, class: 'form-control' %>
      </div>
    </div>

    <% if context.is_super_admin? %>

        <div class="form-group">
          <%= f.label :super_admin, 'Super Admin', class: 'col-sm-2 control-label' %>
          <div class="col-sm-10">
            <%= f.check_box :super_admin %>
          </div>
        </div>

    <% end %>

  </fieldset>

  <fieldset>

    <legend>Position</legend>

    <div class="form-group">
      <%= label_tag :primary_position_organization_id, 'Campus', class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= select_tag :primary_position_organization_id,
                       options_for_select([['',0]] | @organizations.map(){ |c| [ raw(c.name), c.id] }, (@user.primary_position ? @user.primary_position.organization_id : 0)),
                       { class: 'form-control' } %>
      </div>
    </div>

    <div class="form-group hide-unless-organization_id">
      <%= label_tag :primary_position_title, 'Title', class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= text_field_tag :primary_position_title, (@user.primary_position ? @user.primary_position.title : ''), class: 'form-control' %>
      </div>
    </div>

    <div class="form-group hide-unless-organization_id">
      <%= label_tag :primary_position_department, 'Department', class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= text_field_tag :primary_position_department, (@user.primary_position ? @user.primary_position.department : ''), class: 'form-control' %>
      </div>
    </div>

    <div class="form-group hide-unless-organization_id">
      <%= label_tag :primary_position_description, 'Description', class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= text_area_tag :primary_position_description, (@user.primary_position ? @user.primary_position.description : ''), class: 'form-control', style: 'height: 10rem;' %>
      </div>
    </div>

  </fieldset>

  <fieldset>

    <legend>Contact</legend>

    <div class="form-group">
      <%= f.label :website, 'Website', class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.text_field :website, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :phone_number, 'Phone Number', class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.text_field :phone_number, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :fax_number, 'Fax Number', class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.text_field :fax_number, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :mailing_address, 'Mailing Address', class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.text_area :mailing_address, class: 'form-control', rows: 3 %>
      </div>
    </div>

  </fieldset>

  <fieldset>

    <legend>About</legend>

    <div class="form-group">
      <%= f.label :biography, 'Biography', class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.text_area :biography, class: 'form-control', rows: 8 %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :competencies, 'Competencies', class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
      <%= f.text_field :competencies, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :resources, 'Resources', class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.select :resources,
                     options_for_select(@resources.map(){ |c| [ c.name, c.id] }, @user.resource_ids),
                     {},
                     { class: 'form-control', multiple: true, style: 'height: 15rem' } %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :profile_image, 'Profile Image', class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.file_field :profile_image %>
      </div>
    </div>

  </fieldset>

  <fieldset>

    <legend>Social</legend>

    <div class="form-group">
      <%= f.label :social_google, 'Google+', class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.text_field :social_google, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :social_github, 'GitHub', class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.text_field :social_github, class: 'form-control', :placeholder => "Github Username. For example user rather than https://github.com/user" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :social_linkedin, 'LinkedIn', class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.text_field :social_linkedin, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :social_twitter, 'Twitter', class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.text_field :social_twitter, class: 'form-control' %>
      </div>
    </div>


  </fieldset>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit 'Save', class: 'btn btn-success' %>
      <%= link_to 'Cancel', competencies_url, class: 'btn btn-default' %>
    </div>
  </div>

<% end %>

<script src="//cdn.ckeditor.com/4.4.6/full/ckeditor.js"></script>
<script type="text/javascript">
  CKEDITOR.replace( 'user_biography' );
</script>
<script type="text/javascript">
  $('#primary_position_organization_id').change(function(){
    if($(this).val() == '0'){
      $('.hide-unless-organization_id').hide();
    }else{
      $('.hide-unless-organization_id').show();
    }
  }).change()
</script>

<script type="text/javascript">
$(document).ready(function () {

  $("#user_competencies").tokenInput("/competencies/ajax_index.json", {
    crossDomain: false,
    preventDuplicates: true,
    prePopulate: <%= raw(@user.competencies.to_json( :only => [ :id, :name ] )) %>
  });

});

</script>
