<h2 class="valign-middle text-center">
  <%= image_tag "/images/header_icons/people.png", { class: "header-icon" } %>
  <span>People</span>
</h2>

<div class="table-responsive">
  <table class="table table-striped people-table">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Position</th>
        <th>Organization</th>
        <th>Member Since</th>
        <th>Links</th>
      </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
    <tr>
      <% if current_user %>
        <td class="avatar-cell">
          <% if user.profile_image.blank? %>
            <%#= gravatar_tag user.email, size: 40, secure: true %>
            <%= image_tag "/images/header_icons/wave.png", {size: '40x40', class: "small-wave" } %>
          <% else %>
            <%= image_tag "data:img/png;base64,#{user.profile_image}", size: '40x40', secure: true %>
          <% end %>
        </td>
      <% else %>
        <td class="avatar-cell"></td>
      <% end %>
      <td><%= link_to user.display_name, user_url(user) %></td>
      <td><%= user.primary_position ? user.primary_position.title : '' %></td>
      <% if user.primary_organization %>
      <td><%= image_tag "/images/organizations/#{user.primary_organization.name}.png", size: "82x30" %></td>
      <% else %>
      <td></td>
      <% end %>
      <td><%= user.created_at.strftime("%B %d, %Y") %></td>
      <td>
        <% if user.website %>
          <%= link_to user.website_url, target: '_blank' do %>
            <%= image_tag "/images/links/www.png", alt: "WWW", class: "social-icon" %>
          <% end %>
        <% end %>
        <% if user.social_github %>
          <%= link_to user.social_github_url, target: '_blank' do %>
            <%= image_tag "/images/links/github.png", alt: "GitHub", class: "social-icon" %>
          <% end %>
        <% end %>
        <% if user.social_google %>
          <%= link_to user.social_google_url, target: '_blank' do %>
            <%= image_tag "/images/links/google.png", alt: "Google+", class: "social-icon" %>
          <% end %>
        <% end %>
        <% if user.social_linkedin %>
          <%= link_to user.social_linkedin_url, target: '_blank' do %>
            <%= image_tag "/images/links/linkedin.png", alt: "LinkedIn", class: "social-icon" %>
          <% end %>
        <% end %>
        <% if user.social_twitter %>
          <%= link_to user.social_twitter_url, target: '_blank' do %>
            <%= image_tag "/images/links/twitter.png", alt: "Twitter", class: "social-icon" %>
          <% end %>
        <% end %>
      </td>
    </tr>
    <% end %>
    </tbody>
  </table>
</div>

<%= will_paginate @users %>