<% if current_user %>
  <a href="#" class="dropdown-toggle my-account" data-toggle="dropdown">
    My Account
    <span class="caret"></span>
  </a>

  <ul class="dropdown-menu" role="menu" style="left: parent; right: 0px; top: 36px;">
    <li><%= link_to 'My Profile', user_path(current_user) %></li>

    <% if current_user.super_admin %>
      <li class="divider"></li>
      <li><%= link_to 'Competencies', competencies_path %></li>
      <li><%= link_to 'Resources', resources_path %></li>

      <% if Rails.application.config.respond_to?(:auth) and Rails.application.config.auth.respond_to?(:allow_local) and Rails.application.config.auth.allow_local %>
        <li><%= link_to 'Local Accounts', local_users_path %></li>
      <% end %>

      <li><%= link_to 'Badges/Awards', badges_path %></li>
      <li class="divider"></li>
    <% end %>

    <li><%= link_to 'Logout',
                    auth_path,
                    :method => :delete,
                    :data => { :confirm => 'Are you sure you wish to logout?' }
    %></li>
  </ul>

<% else %>
  <%= link_to 'Login', (Rails.application.config.respond_to?(:auth) and Rails.application.config.auth.respond_to?(:route)) ? Rails.application.config.auth.route : auth_oauth2_launch_url(:shibboleth) %>
<% end %>
