<nav>
  <ul class="nav navbar-nav">
    <li>
      <%= link_to about_url do %>
        <%= image_tag "/images/nav_icons/about.png", { class: "nav-icon hidden-xs hidden-sm" } %>
        About
      <% end %>
    </li>
    <li>
      <%= link_to ideas_url do %>
        <%= image_tag "/images/nav_icons/ideas.png", { class: "nav-icon hidden-xs hidden-sm" } %>
        Ideas
      <% end %>
    </li>
    <li>
      <%= link_to projects_url do %>
        <%= image_tag "/images/nav_icons/projects.png", { class: "nav-icon hidden-xs hidden-sm" } %>
        Projects
      <% end %>
    </li>
    <li>
      <%= link_to events_url do %>
        <%= image_tag "/images/nav_icons/events.png", { class: "nav-icon hidden-xs hidden-sm" } %>
        Events
      <% end %>
    </li>
    <li>
      <%= link_to users_url do %>
        <%= image_tag "/images/nav_icons/people.png", { class: "nav-icon hidden-xs hidden-sm" } %>
        People
      <% end %>
    </li>
    <li>
      <%= link_to groups_url do %>
        <%= image_tag "/images/nav_icons/groups.png", { class: "nav-icon hidden-xs hidden-sm" } %>
        Groups
      <% end %>
    </li>
    <li>
      <%= link_to badges_url do %>
        <%= image_tag "/images/nav_icons/badges.png", { class: "nav-icon hidden-xs hidden-sm" } %>
        Badges
      <% end %>
    </li>
  </ul>
</nav>
