<%= javascript_include_tag 'customize-twitter-1.1.min' %>

<div class="montage center-block">
  <%= image_tag "/images/montage.jpg", { class: "hidden-xs" } %>
</div>

<div class="row">
  <div class="col-md-6">
    <section>
      <h1 class="valign-middle">
        <span>Projects</span>
        <span class="header-icon hidden-xs">
          <%= image_tag "/images/header_icons/projects.png", { class: "img-responsive" } %>
        </span>
        <span class="pull-right bubble-right-big">
          Total Projects<br>
          <%= Project.count %>
        </span>
      </h1>
      <ul class="list-group">
        <% @projects.each do |project| %>
          <li class="list-group-item bubbles">
            <%= link_to project.name, project %>
            <div class="bubble-right-small pull-right">
              <%= project.project_votes.count %>
            </div>
          </li>
        <% end %>
      </ul>
      <div class="text-center">
        <%= button_to "More Projects",
                      projects_url,
                      method: :get,
                      class: "btn btn-learn-more",
                      form_class: "button_to"
        %>
      </div>
    </section>
  </div>

  <div class="col-md-6">
    <section>
      <h1 class="valign-middle">
        <span>Ideas</span>
        <span class="header-icon hidden-xs">
          <%= image_tag "/images/header_icons/ideas.png", { class: "img-responsive" } %>
        </span>
        <span class="pull-right bubble-right-big">
          Total Ideas<br>
          <%= Idea.count %>
        </span>
      </h1>
      <ul class="list-group list-group-secondary">
        <% @ideas.each do |idea| %>
          <li class="list-group-item bubbles">
            <%= link_to idea.name, idea %>
            <div class="bubble-right-small pull-right">
              <%= idea.idea_votes.count %>
            </div>
          </li>
        <% end %>
      </ul>
      <div class="text-center">
        <%= button_to "More Ideas",
                      ideas_url,
                      method: :get,
                      class: "btn btn-participate",
                      form_class: "button_to"
        %>
      </div>
    </section>
  </div>
</div>

<div class="row wave-logo">
  <div class="col-md-6">
    <section>
      <h1 class="valign-middle">
        <%= link_to "Engagement Meter", engagement_url %>
        <span class="header-icon hidden-xs">
          <%= image_tag "/images/header_icons/engagement_meter.png", { class: "img-responsive" } %>
        </span>
      </h1>
      <%= render partial: "shared/engagement_meter", locals: { type: :all } %>
    </section>
  </div>

  <div class="col-md-6 text-center wave-compensate">
    <section>
      <h1 class="valign-middle">
        <span>UC NeXt News</span>
        <span class="header-icon hidden-xs">
          <%= image_tag "/images/header_icons/social.png", { class: "img-responsive" } %>
        </span>
      </h1>
      <a class="twitter-timeline" href="https://twitter.com/UCNextNews" data-widget-id="660240239294746624">Tweets by @UCNextNews</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </section>
  </div>
</div>
