<%= javascript_include_tag 'customize-twitter-1.1.min' %>

<div class="montage center-block">
  <%= image_tag "/images/montage.jpg", { class: "hidden-xs" } %>
</div>

<div class="row">
  <div class="col-md-6">
    <section>
      <div class="row">
        <div class="col-sm-8 text-center">
          <h1>
            <%= image_tag "/images/header_icons/projects.png", { class: "trending-icon pull-right" } %>
            Trending
            <br class="visible-lg">
            Projects
          </h1>
        </div>
        <div class="col-sm-4 bubble-right-big">
          Total Projects<br>
          <%= Project.count %>
        </div>
      </div>
      <ul class="list-group">
        <li class="list-group-item row">
          <div class="col-xs-2 text-right">Rank</div>
          <div class="col-xs-8"></div>
          <div class="col-xs-2 text-right">Votes</div>
        </li>
        <% @projects.each_with_index do |project, i| %>
          <li class="list-group-item row bubbles">
            <div class="col-xs-2 text-right">
              <%= i + 1 %>.
            </div>
            <div class="col-xs-8">
              <%= link_to project.name, project %>
            </div>
            <div class="col-xs-2 bubble-right-small">
              <%= project.project_votes.count %>
            </div>
          </li>
        <% end %>
      </ul>
      <div class="text-center">
        <%= button_to "More Projects",
                      projects_url,
                      method: :get,
                      class: "btn btn-learn-more",
                      form_class: "button_to"
        %>
      </div>
    </section>
  </div>

  <div class="col-md-6">
    <section>
      <div class="row">
        <div class="col-sm-8 text-center">
          <h1>
            <%= image_tag "/images/header_icons/ideas.png", { class: "trending-icon pull-right" } %>
            Trending
            <br class="visible-lg">
            Ideas
          </h1>
        </div>
        <div class="col-sm-4 bubble-right-big">
          Total Ideas<br>
          <%= Idea.count %>
        </div>
      </div>
      <ul class="list-group list-group-secondary">
        <li class="list-group-item row">
          <div class="col-xs-2 text-right">Rank</div>
          <div class="col-xs-8"></div>
          <div class="col-xs-2 text-right">Votes</div>
        </li>
        <% @ideas.each_with_index do |idea, i| %>
          <li class="list-group-item row bubbles">
            <div class="col-xs-2 text-right">
              <%= i + 1 %>.
            </div>
            <div class="col-xs-8">
              <%= link_to idea.name, idea %>
            </div>
            <div class="col-xs-2 bubble-right-small">
              <%= idea.idea_votes.count %>
            </div>
          </li>
        <% end %>
      </ul>
      <div class="text-center">
        <%= button_to "More Ideas",
                      ideas_url,
                      method: :get,
                      class: "btn btn-participate",
                      form_class: "button_to"
        %>
      </div>
    </section>
  </div>
</div>

<div class="row wave-logo">
  <div class="col-md-6">
    <section>
      <h1 class="valign-middle">
        <%= link_to "Engagement Meter", engagement_url %>
        <span class="header-icon hidden-xs">
          <%= image_tag "/images/header_icons/engagement_meter.png", { class: "img-responsive" } %>
        </span>
      </h1>
      <%= render partial: "shared/engagement_meter", locals: { type: :all } %>
    </section>
  </div>

  <div class="col-md-6 text-center wave-compensate">
    <section id="twitter-feed-wrapper">
      <h1 class="valign-middle">
        <span>UC NeXt News</span>
        <span class="header-icon hidden-xs">
          <%= image_tag "/images/header_icons/social.png", { class: "img-responsive" } %>
        </span>
      </h1>
      <a class="twitter-timeline" href="https://twitter.com/UCNextNews" data-widget-id="660240239294746624">Tweets by @UCNextNews</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </section>
  </div>
</div>
