<div class="montage center-block">
  <%= image_tag "/images/montage.jpg", { class: "hidden-xs" } %>
</div>

<div class="row">
  <div class="col-md-6">
    <section class="padded-section">
      <h1 class="valign-middle">
        <span>Projects</span>
        <span class="header-icon hidden-xs">
          <%= image_tag "/images/header_icons/projects.png", { class: "img-responsive" } %>
        </span>
      </h1>
      <ul class="list-group">
        <% Project.top_voted(5).each do |idea| %>
          <li class="list-group-item"><%= link_to idea.name, idea %></li>
        <% end %>
      </ul>
    </section>
  </div>

  <div class="col-md-6">
    <section class="padded-section">
      <h1 class="valign-middle">
        <span>Ideas</span>
        <span class="header-icon hidden-xs">
          <%= image_tag "/images/header_icons/ideas.png", { class: "img-responsive" } %>
        </span>
      </h1>
      <ul class="list-group list-group-secondary">
        <% Idea.top_voted(5).each do |idea| %>
          <li class="list-group-item"><%= link_to idea.name, idea %></li>
        <% end %>
      </ul>
    </section>
  </div>
</div>

<div class="row wave-logo">
  <div class="col-md-6">
    <section>
      <h1 class="valign-middle">
        <%= link_to "Engagement Meter", engagement_url %>
        <span class="header-icon hidden-xs">
          <%= image_tag "/images/header_icons/engagement_meter.png", { class: "img-responsive" } %>
        </span>
      </h1>
      <%= render partial: "shared/engagement_meter", locals: { type: :all } %>
    </section>
  </div>
</div>
