<%= javascript_include_tag 'customize-twitter-1.1.min' %>

<div class="montage center-block">
  <%= image_tag "/images/montage.jpg", { class: "hidden-xs" } %>
</div>

<div class="row">
  <div class="col-md-6">
    <section>
      <div class="row">
        <div class="col-sm-6 text-center">
          <h1 style="margin-top: 1.25rem;">
            Trending UC-Wide Projects
          </h1>
        </div>
        <div class="col-sm-2">
          <%= image_tag "/images/header_icons/projects.png", { class: "trending-icon pull-right" } %>
        </div>
        <div class="col-sm-4 bubble-right-big">
          Total Projects<br>
          <%= Project.count %>
        </div>
      </div>

      <ul class="list-group">
        <li class="list-group-item row tight-row" style="color: #0054A6; font-weight: bold; text-transform: uppercase;">
          <div class="col-xs-9 tight-col-left">Rank</div>
          <div class="col-xs-3 tight-col text-right">Votes</div>
        </li>
        <% @projects.each_with_index do |project, i| %>
          <li class="list-group-item row tight-row">
            <span class="has-tooltip" data-toggle="tooltip" title= '<%= "#{project.name}" %>' style="overflow: visible;" >
              <div class="col-xs-9 tight-col-left name-on-hover">
                <%= i + 1 %>.
                <%= link_to project.name, project%>
              </div>
            </span>
            <div class="col-xs-3 tight-col-buttons text-right">
              <div class="bubble-right-small">
                <%= project.project_votes.count %>
              </div>
            </div>
          </li>
        <% end %>
      </ul>

      <div class="text-center">
        <%= button_to "More Projects",
                      projects_url,
                      method: :get,
                      class: "btn btn-learn-more",
                      form_class: "button_to"
        %>
      </div>
    </section>
  </div>

  <div class="col-md-6">
    <section>
      <div class="row">
        <div class="col-sm-6 text-center">
          <h1 style="margin-top: 1.25rem;">
            Trending UC-Wide Ideas
          </h1>
        </div>
        <div class="col-sm-2">
          <%= image_tag "/images/header_icons/ideas.png", { class: "trending-icon pull-right" } %>
        </div>
        <div class="col-sm-4 bubble-right-big">
          Total Ideas<br>
          <%= Idea.count %>
        </div>
      </div>

      <ul class="list-group list-group-secondary">
        <li class="list-group-item row tight-row" style="color: #0054A6; font-weight: bold; text-transform: uppercase;">
          <div class="col-xs-9 tight-col-left">Rank</div>
          <div class="col-xs-3 tight-col text-right">Votes</div>
        </li>
        <% @ideas.each_with_index do |idea, i| %>
          <li class="list-group-item row tight-row">
            <span class="has-tooltip" data-toggle="tooltip" title= '<%= "#{idea.name}" %>' style="overflow: visible;" >
              <div class="col-xs-9 tight-col-left name-on-hover">
                <%= i + 1 %>.
                <%= link_to_idea idea %>
              </div>
            </span>
            <div class="col-xs-3 tight-col-buttons text-right">
              <div class="bubble-right-small">
              <%= idea.idea_votes.count %>
              </div>
            </div>
          </li>
        <% end %>
      </ul>

      <div class="text-center">
        <%= button_to "More Ideas",
                      ideas_url,
                      method: :get,
                      class: "btn btn-participate",
                      form_class: "button_to"
        %>
      </div>
    </section>
  </div>
</div>

<div class="row wave-logo">
  <div class="col-md-6">
    <section>
      <!-- <h1 class="valign-middle">
        <%= link_to "Engagement Meter", engagement_url %>
        <span class="header-icon hidden-xs">
          <%= image_tag "/images/header_icons/engagement_meter.png", { class: "img-responsive" } %>
        </span>
      </h1> -->

      <div class="row">
        <div class="col-sm-6 text-center">
          <h1 style="margin-top: 1.25rem;">
            <%= link_to "Engagement Meter", engagement_url %>
          </h1>
        </div>
        <div class="col-sm-6 header-icon hidden-xs">
          <%= image_tag "/images/header_icons/engagement_meter.png", { class: "img-responsive", style: "height: 65px;"} %>
        </div>
      </div>
      <%= render partial: "shared/engagement_meter", locals: { type: :all } %>
    </section>
  </div>

  <div class="col-md-6 text-center wave-compensate">
    <section id="twitter-feed-wrapper">
      <!-- <h1 class="valign-middle">
        <span>UC NeXt News</span>
        <span class="header-icon hidden-xs">
          <%= image_tag "/images/header_icons/social.png", { class: "img-responsive" } %>
        </span>
      </h1> -->
      <div class="row">
        <div class="col-sm-5 text-center">
          <h1 style="margin-top: 1.25rem;">
            <span>UC NeXt News</span>
          </h1>
        </div>
        <div class="col-sm-4">
          <span class="header-icon hidden-xs">
            <%= image_tag "/images/header_icons/social.png", { class: "img-responsive", style: "height: 65px;" } %>
          </span>
        </div>
        <div class="col-sm-4">
        </div>
      </div>
      <a class="twitter-timeline" href="https://twitter.com/UCNextNews" data-widget-id="660240239294746624">Tweets by @UCNextNews</a>


      <script>
        array = document.getElementsByClassName("has-tooltip")
        var arrayLength = array.length
        for(var i = 0; i != arrayLength; i++){
          if (array[i].children[0].offsetHeight < array[i].children[0].scrollHeight ||
            array[i].children[0].offsetWidth < array[i].children[0].scrollWidth) {
              array[i].setAttribute('data-toggle', 'aaa')
            } else {
              array[i].setAttribute('data-toggle', 'aaa')
            // your element doesn't have overflow
          }
        }
      </script>


      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </section>
  </div>
</div>
