<%= stylesheet_link_tag 'token-input.css' %>
<%= stylesheet_link_tag 'jquery.datetimepicker.css' %>

<%= javascript_include_tag 'jquery.datetimepicker.js'%>
<%= javascript_include_tag 'jquery.tokeninput.js' %>

<%= form_for @event, html: { class: 'form-horizontal', :multipart => true } do |f| %>
  <%= render 'shared/errors', :object => @event %>

  <% if params[:return_to] %>
    <%= f.hidden_field :return_to, name: :return_to, value: params[:return_to] %>
  <% end %>

  <div class="form-group">
    <%= f.label :name, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :name, class: 'form-control', required: true %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :short_description, 'Short Description', class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :short_description, class: 'form-control', required: true, maxlength: 100 %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :description, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_area :description, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :location, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :location, class: 'form-control', rows: 8 %>
    </div>
  </div>


  <div class="form-group">
    <%= f.label :event_url, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :event_url, class: 'form-control', rows: 8 %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :map_url, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :map_url, class: 'form-control', rows: 8 %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label "Start Date", class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :start_datetime, class: 'form-control', rows: 8, value: (@event.new_record? ? nil : (@event.start_datetime ? @event.start_datetime.strftime('%Y-%m-%d %H:%M') : nil)) %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label "End Date", class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :stop_datetime, class: 'form-control', rows: 8, value: (@event.new_record? ? nil : (@event.stop_datetime ? @event.stop_datetime.strftime('%Y-%m-%d %H:%M') : nil)) %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :invite_list, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :invite_list, class: 'form-control', rows: 8 %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :image, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.file_field :image, class: 'form-control', rows: 8 %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :groups, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :group_tokens, "data-pre" => @event.groups.map(&:name).compact %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit(@event.new_record? ? 'Create' : 'Update', class: 'btn btn-success', id: "event_submit") %>
    </div>
  </div>
<% end %>

<script src="//cdn.ckeditor.com/4.4.6/full/ckeditor.js"></script>
<script type="text/javascript">
    CKEDITOR.replace( 'event_description' );
</script>

<script type="text/javascript">
$(document).ready(function () {

  $("#event_group_tokens").tokenInput("/groups.json", {
    crossDomain: false,
    preventDuplicates: true,
    prePopulate: $('#event_group_tokens').data('pre')
  });

  $('#event_start_datetime').datetimepicker({
    minDate: '-1',
    format:'Y-m-d H:i',
    inline: true
  });

  $('#event_stop_datetime').datetimepicker({
    minDate: '-1',
    format:'Y-m-d H:i',
    inline: true
  });

});

</script>
