<%= stylesheet_link_tag 'token-input.css' %>
<%= javascript_include_tag 'jquery.tokeninput.js' %>
<%= form_for @event, html: { class: 'form-horizontal', :multipart => true } do |f| %>
  <%= render 'shared/errors', :object => @event %>

  <% if params[:return_to] %>
    <%= f.hidden_field :return_to, name: :return_to, value: params[:return_to] %>
  <% end %>

  <div class="form-group">
    <%= mark_required(@event, :name) %>
    <%= f.label :name, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :description, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_area :description, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :location, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :location, class: 'form-control', rows: 8 %>
    </div>
  </div>


  <div class="form-group">
    <%= f.label :event_url, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :event_url, class: 'form-control', rows: 8 %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :map_url, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :map_url, class: 'form-control', rows: 8 %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :invite_list, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :invite_list, class: 'form-control', rows: 8 %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :image, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.file_field :image, class: 'form-control', rows: 8 %>
    </div>
  </div>

  <%= f.text_field :group_tokens, "data-pre" => @event.groups.map(&:name).to_json %>
<!--
-->
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit(@event.new_record? ? 'Create' : 'Update', class: 'btn btn-success', id: "event_submit") %>
    </div>
  </div>
<% end %>

<script type="text/javascript">
$(document).ready(function () {
  $('#event_submit').prop('disabled', true);
  $("#event_name").keyup(function() {
    if($(this).val().length > 0) {
      $('#event_submit').prop('disabled', false);
    } else {
      $('#event_submit').attr('disabled', true);
    }
  });

  // $("#event_group_tokens").tokenInput("/groups.json", {
  //   crossDomain: false,
  //   prePopulate: $('#event_group_tokens').data('pre')
  // });

});

</script>
