<% if current_user %>
<%= button_to 'Create Event',
              new_event_url,
              method: 'get',
              class: 'btn btn-create btn-block',
              form_class: 'button_to pull-right' %>

  <% if @logged_in %>
    <%= link_to 'Show all', events_path, class: 'btn btn-create' %>
  <% else %>
    <%= link_to 'Show my events', logged_in_events_path, class: 'btn btn-create' %>
  <% end %>
<% end %>

<h2>Events</h2>

<%= will_paginate @events %>

<div class="event-list">
  <% @events.each do |event| %>
    <a href="<%= event_url(event) %>">
      <div class="row">

        <div class="col-sm-2 date">
          <% if event.start_datetime or event.stop_datetime %>
            <% if event.start_datetime and event.stop_datetime %>
              <% if event.start_datetime.strftime('%b %d %Y') == event.stop_datetime.strftime('%b %d %Y') %>
                <%= event.start_datetime.strftime('%b %d %Y') %>
              <% elsif event.start_datetime.strftime('%b %Y') == event.stop_datetime.strftime('%b %Y') %>
                <%= event.start_datetime.strftime('%b') %> <%= event.start_datetime.strftime('%d') %> - <%= event.stop_datetime.strftime('%d') %> <%= event.stop_datetime.strftime('%Y') %>
              <% elsif event.start_datetime.strftime('%Y') == event.stop_datetime.strftime('%Y')  %>
                <%= event.start_datetime.strftime('%b %d') %> - <%= event.stop_datetime.strftime('%b %d %Y') %>
              <% else %>
                <%= event.start_datetime.strftime('%b %d %Y') %> - <%= event.stop_datetime.strftime('%b %d %Y') %>
              <% end %>
            <% elsif event.start_datetime %>
              <%= event.start_datetime.strftime('%b %d %Y') %>
            <% elsif event.stop_datetime %>
              <%= event.stop_datetime.strftime('%b %d %Y') %>
            <% end %>
          <% end %>
        </div>

        <div class="col-sm-10">
          <h4><%= event.name %></h4>
          <% if event.short_description %>
            <p><%= event.short_description %></p>
          <% end %>
          <p style="font-size:10px;">
            <% if event.start_datetime or event.stop_datetime %>
                <% if event.start_datetime and event.stop_datetime %>
                    <% if event.start_datetime.strftime('%b %d %Y') == event.stop_datetime.strftime('%b %d %Y') %>
                        <%= event.start_datetime.strftime('%l:%I %p') %> - <%= event.stop_datetime.strftime('%l:%I %p') %>
                    <% elsif event.start_datetime.strftime('%b %Y') == event.stop_datetime.strftime('%b %Y') %>

                        <%= event.start_datetime.strftime('%l:%I %p') %> <%= event.start_datetime.strftime('%b') %> <%= event.start_datetime.strftime('%d') %> - <%= event.stop_datetime.strftime('%l:%I %p') %> <%= event.stop_datetime.strftime('%d') %> <%= event.stop_datetime.strftime('%Y') %>
                    <% elsif event.start_datetime.strftime('%Y') == event.stop_datetime.strftime('%Y')  %>
                        <%= event.start_datetime.strftime('%l:%I %p') %> <%= event.start_datetime.strftime('%b %d') %> - <%= event.stop_datetime.strftime('%l:%I %p') %> <%= event.stop_datetime.strftime('%b %d %Y') %>
                    <% else %>
                        <%= event.start_datetime.strftime('%l:%I %p') %> <%= event.start_datetime.strftime('%b %d %Y') %> - <%= event.stop_datetime.strftime('%l:%I %p') %> <%= event.stop_datetime.strftime('%b %d %Y') %>
                    <% end %>
                <% elsif event.start_datetime %>
                    <%= event.start_datetime.strftime('%l:%I %p %b %d %Y') %>
                <% elsif event.stop_datetime %>
                    <%= event.stop_datetime.strftime('%l:%I %p %b %d %Y') %>
                <% end %>
            <% end %>
            <% if event.location %>
                @ <%= event.location %>
            <% end %>
          </p>
        </div>

      </div>
    </a>
  <% end %>
</div>

<%= will_paginate @events %>

<br><br>