<% if current_user %>
<%= button_to 'Create Event',
              new_event_url,
              method: 'get',
              class: 'btn btn-create btn-block',
              form_class: 'button_to pull-right' %>

  <% if @logged_in %>
    <%= link_to 'Show all', events_path, class: 'btn btn-create' %>
  <% else %>
    <%= link_to 'Show my events', logged_in_events_path, class: 'btn btn-create' %>
  <% end %>
<% end %>

<h1>Events</h1>

<%= will_paginate @events %>

<div class="event-list">
  <% @events.each do |event| %>
    <%= link_to(event) do %>
      <div class="row">

        <div class="col-sm-2 date">
          <%= event.datetime_range %>
        </div>

        <div class="col-sm-10">
          <h2><%= event.name %></h2>
          <% if event.short_description %>
            <p><%= event.short_description %></p>
          <% end %>
          <p style="font-size:10px;">
            <%= event.datetime_range(times: true) %>
            <% unless event.location.blank? %>
                @ <%= event.location %>
            <% end %>
          </p>
        </div>

      </div>
    <% end %>
  <% end %>
</div>

<%= will_paginate @events %>
