<p style="text-align: center;"><%= link_to 'Back to Events', events_path, class: 'btn' %></p>

<div class="event-list">
  <%= link_to(@event) do %>
    <div class="row">
      <div class="col-sm-2 date">
        <%= @event.datetime_range %>
      </div>

      <div class="col-sm-10">
        <h1><%= @event.name %></h1>
        <% if @event.short_description %>
          <p><%= @event.short_description %></p>
        <% end %>
        <p style="font-size:10px;">
          <%= @event.datetime_range(times: true) %>
          <% unless @event.location.blank? %>
            @ <%= @event.location %>
          <% end %>
        </p>
      </div>

    </div>
  <% end %>
</div>

<div class="event-info">
  <% if @event.image_url %>
  <div class="panel-default panel">
    <%= image_tag @event.image_url %>
  </div>
  <% end %>
  <div class="panel-default panel">
    <div class="panel-body">
      <h2>Description</h2>
      <%= raw @event.description_html %>
    </div>
  </div>
  <div class="split-panels">
    <div class="panel-default panel">
      <div class="panel-body">
        <h2>Start</h2>
        <p><%= @event.start_datetime ? @event.start_datetime.strftime("%b %d, %Y %l:%M %p") : raw('<em>Not Specified</em>') %></p>
      </div>
    </div>
    <div class="panel-default panel">
      <div class="panel-body">
        <h2>End</h2>
        <p><%= @event.stop_datetime ? @event.stop_datetime.strftime("%b %d, %Y %l:%M %p") : raw('<em>Not Specified</em>') %></p>
      </div>
    </div>
  </div>
  <div class="split-panels">
    <div class="panel-default panel">
      <div class="panel-body">
        <h2>Location</h2>
        <p><%= !@event.location.blank? ? @event.location : raw('<em>Not Specified</em>') %></p>
      </div>
    </div>
    <div class="panel-default panel">
      <div class="panel-body">
        <h2>Website</h2>
        <p style="overflow:hidden;text-overflow:ellipsis">
          <% unless @event.event_url.blank? %>
            <%= link_to(@event.event_url, @event.event_url) %>
          <% else %>
            <em>Not Specified</em>
          <% end %>
        </p>
      </div>
    </div>
  </div>
  <div class="split-panels">
    <div class="panel-default panel">
      <div class="panel-body">
        <h2>Groups</h2>
        <%= render 'events/event_groups', :event => @event %>
        <% if @event.is_editable_by? current_user %>
            <h2>Invite List</h2>
            <%= render 'events/invite_list', :event => @event %><br />
        <% end %>
      </div>
    </div>
    <div class="panel-default panel">
      <div class="panel-body">
        <h2>Map</h2>
        <p style="overflow:hidden;text-overflow:ellipsis">
          <% unless @event.map_url.blank? %>
            <%= link_to(@event.map_url, @event.map_url) %>
          <% else %>
            <em>None Specified</em>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>

<% if @event.is_editable_by? current_user %>
<p>
    <%= button_to 'Edit',
                  edit_event_url(@event),
                  method: :get,
                  class: 'btn btn-edit btn-sm',
                  form_class: 'button_to'
    %>
    <%= button_to 'Delete',
                  event_url(@event),
                  method: :delete,
                  class: 'btn btn-delete btn-sm',
                  form_class: 'button_to',
                  data: { confirm: 'Are you sure you want to delete this event?' }
    %>
</p>
<% end %>
