<div class="profile">

  <h2><%= @event.name %></h2>

  <div class="row">

    <div class="col-lg-9 col-sm-8">

      <div class="subtitle">
        <%= @event.description %>
      </div>
      <%= render 'events/invite_list', :event => @event %><br />
      <%= render 'events/event_groups', :event => @event %><br />
      <%= image_tag @event.image_url if @event.image? %>

      Start Date:<br/ >
      <%= @event.start_datetime.try(:to_s, (:formatted_date)) %><br />

      End Date:<br/ >
      <%= @event.stop_datetime.try(:to_s, (:formatted_date)) %>
    </div>



  </div>

</div>
