<div class="row">
  <div class="col-sm-4 col-sm-offset-4 text-center">
    <h2 class="valign-middle">
      <span class="header-icon hidden-xs">
        <%= image_tag "/images/header_icons/projects.png", { class: "img-responsive" } %>
      </span>
      <span>Projects</span>
    </h2>
  </div>

  <div class="col-sm-4">
    <% if current_user %>
    <%= button_to 'Create Project',
                  new_project_url,
                  method: :get,
                  class: 'btn btn-create btn-block',
                  form_class: 'button_to pull-right' %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h1>UC NeXt Projects</h1>

    <p>
      Projects are how we work together and actually coordinate our collaboration!
    </p>
    <p>
      UC Next is a place to find out who is looking for partners,
      collaborators and anyone who might be trying to solve the same or
      similar problems.
    </p>
    <p>
      It&apos;s not a portfolio tool, but rather a virtual meeting place
      to find like minded team members who can help us get solutions in
      place faster, more efficiently and with a shared purpose of
      furthering our shared mission of providing World Class Education,
      Research support and Service.
    </p>

    <h1>Trending UC-Wide Projects</h1>
    <ul class="list-group">
      <li class="list-group-item row tight-row">
        <div class="col-xs-8 col-sm-10 col-md-9 tight-col-left">Rank</div>
        <div class="col-xs-4 col-sm-2 col-md-3 tight-col text-right">Votes</div>
      </li>
      <% @top_projects.each_with_index do |project, i| %>
        <li class="list-group-item row tight-row">
          <div class="col-xs-8 col-sm-10 col-md-9 tight-col-left">
            <%= i + 1 %>.
            <%= link_to_project project %>
          </div>
          <div class="col-xs-4 col-sm-2 col-md-3 tight-col-buttons text-right">
            <% if current_user %>
              <%= button_to '+1', '#', class: 'btn btn-support btn-auto-size modal-button', method: :get %>
              <%= render partial: "shared/vote_dialog", locals: {
                object: project,
                button_text: [
                  'Good project',
                  'Would participate',
                  'Learn more'
                ]
              } %>
            <% end %>
            <div class="bubble-right-small">
              <%= project.project_votes.count %>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="col-md-6">
    <h1 class="valign-middle">
      <span>Project Engagement Meter</span>
      <span class="header-icon hidden-xs">
        <%= image_tag "/images/header_icons/engagement_meter.png", { class: "img-responsive" } %>
      </span>
    </h1>
    <%= render partial: "shared/engagement_meter", locals: { type: :projects } %>
  </div>
</div>

<% if @projects.any? %>
  <h1 class="text-center">UC NeXt Projects</h1>

  <div class="panel-table panel-table-secondary container-fluid">
    <% @projects.each_with_index do |project, i| %>
      <% if i % 3 == 0 %>
        <div class="row">
      <% end %>

      <div class="col-md-4 panel-cell">
        <div class="pull-right">
          <% if current_user && project.is_viewable_by?(current_user) %>
            <%= button_to '+1', '#', class: 'btn btn-support btn-auto-size modal-button', form_class: 'pull-right', method: :get %>
            <%= render partial: "shared/vote_dialog", locals: {
              object: project,
              button_text: [
                'Good project',
                'Would participate',
                'Learn more'
              ]
            } %>
          <% end %>
          <div class="bubble-below clear-both small">
            <div class="table-row">
              <div class="table-cell">
                Supporters
              </div>
              <div class="table-cell">
                <%= project.project_votes.count %>
              </div>
            </div>
            <div class="table-row valign-middle">
              <div class="table-cell extra-padding">
                Would participate
              </div>
              <div class="table-cell">
                <%= project.project_votes.where(participate: true).count %>
              </div>
            </div>
          </div>
        </div>

        <h4>
          <%= link_to_project project %>
        </h4>
        <% if project.is_viewable_by?(current_user) %>
          <p>
            <%= project.pitch.ellipsis(400) %>
          </p>
          <p class="condensed">
            <small>
              Started
              <% if project.project_roles.founders.count > 0 %>
                by
                <%= project.project_roles.founders.includes(:user).map { |r| link_to_user r.user }.to_sentence.html_safe %>
              <% end %>
              on
              <%= project.created_at.strftime("%B %d, %Y") %>
            </small>
          </p>
        <% end %>

        <% if project.privacy_org %>
          <%= image_tag "/images/organizations/#{project.privacy_org.name}.png", size: "82x30", class: "campus-logo" %>
        <% else %>
          <%= image_tag "/images/organizations/UC-Wide.png", height: 20, class: "campus-logo" %>
        <% end %>
      </div>

      <% if i % 3 == 2 %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>

<%= will_paginate @projects %>
