<% if current_user %>
<%= button_to 'Create Project',
              new_project_url,
              method: :get,
              class: 'btn btn-warning btn-block',
              form_class: 'button_to pull-right' %>
<% end %>

<h2>Projects</h2>

<%= will_paginate @projects %>

<div class="list-group">
<% @projects.each do |project| %>
  <a class="list-group-item" href="<%= project_url(project) %>">
    <div class="row">
      <div class="col-sm-10">
        <h4><%= project.name %></h4>
        <%= raw project.pitch %>
        <p><small>
          Started
          <% if project.project_roles.founders.count > 0 %>
          by <strong><%= project.project_roles.founders.includes(:user).map(){ |r| r.user.display_name }.to_sentence %></strong>
          <% end %>
          on <strong><%= project.created_at.strftime("%B %d, %Y") %></strong>
          <br>
          <em>Supported by <%= project.project_votes.count %> ( <%= project.project_votes.where(participate: true).count %> would participate )</em>
        </small></p>
      </div>
      <% unless project.has_been_voted_for_by? current_user %>
        <nav class="col-sm-2 text-right-md text-right-lg">
          <%= button_to '+1', '#', class: 'btn btn-success modal-button', method: :get %>
          <%= render partial: "shared/vote_dialog", locals: {
            object: project,
            button_text: [
              'I like this project',
              'I would like to participate in this project',
              'I want to learn more about this'
            ]
          } %>
        </nav>
      <% end %>
    </div>
  </a>
<% end %>
</div>

<%= will_paginate @projects %>
