<div class="row">
  <div class="col-sm-4 col-sm-offset-4 text-center">
    <h2 class="valign-middle">
      <span class="header-icon hidden-xs">
        <%= image_tag "/images/header_icons/projects.png", { class: "img-responsive" } %>
      </span>
      <span>Project Details</span>
    </h2>
  </div>
</div>

<div class="profile">
  <h2><%= @project.name %></h2>

  <div class="row">
    <div class="col-lg-9 col-sm-8">
      <div class="subtitle">
        <%= @project.problem_statement %>
      </div>

      <div class="subtitle">
        <%= @project.pitch %>
      </div>

      <% if @project.privacy_org %>
        <small>
          (Viewable only to members of
          <%= @project.privacy_org.name %>)
        </small>
      <% end %>

      <%= raw @project.description_html %>

      <div class="panel panel-default">
        <header class="panel-heading">
          <h3>Details</h3>
        </header>

        <div class="panel-body">
          <h5 class="text-muted no-margin-bottom">Phase</h5>
          <p><%= @project.project_status.name %></p>

          <% if @project.project_roles.founders.count > 0 %>
            <h5 class="text-muted no-margin-bottom">
              <%= "Founder".pluralize @project.project_roles.founders.count %>
            </h5>
            <ul class="list-unstyled">
              <% @project.project_roles.founders.each do |project_role| %>
                <li><%= link_to_user project_role.user %></li>
              <% end %>
            </ul>
          <% end %>

          <% unless @project.sponsor.nil? or @project.sponsor.blank? %>
            <h5 class="text-muted no-margin-bottom">Sponsor(s)</h5>
            <p><%= @project.sponsor %></p>
          <% end %>

          <% unless @project.manager.nil? or @project.manager.blank? %>
            <h5 class="text-muted no-margin-bottom">Manager(s)</h5>
            <p><%= @project.manager %></p>
          <% end %>

          <% {
              'Website' => :website_url,
              'Documentation' => :documentation_url,
              'Source' => :source_url,
              'Download' => :download_url
            }.each do |name, attr| next if @project.send(attr).blank? %>
            <h5 class="text-muted no-margin-bottom"><%= name %></h5>
            <%= link_to @project.send(attr), @project.send(attr), target: '_blank', class: 'ellipsis-text-block' %>
          <% end %>

          <% if @project.project_documents.any? %>
            <h5 class="text-muted no-margin-bottom">Documents</h5>
            <ul class="list-unstyled">
              <% @project.project_documents.each do |document| %>
                <li>
                  <%= link_to document.description, project_document_url(@project, document) %>
                </li>
              <% end %>
            </ul>
          <% end %>
        </div>
      </div>

      <%
        if @project.competencies.count > 0 || @project.resources.count > 0
          rows = [[]]
          (@project.competencies + @project.resources).each do |item|
            if rows[rows.length - 1].length > 2
              rows << []
            end
            rows[rows.length - 1] << item
          end
      %>
        <div class="margin-bottom">
          <div class="panel panel-default">
            <header class="panel-heading">
              <h3>Expertise and Infrastructure Resources Needed</h3>
            </header>
            <div class="panel-body">
              <% rows.each do |row| %>
                <div class="row">
                  <% row.each do |col| %>
                    <div class="col-md-4"><%= link_to col.name, col %></div>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>

      <% if @project.ideas.length > 0 %>
        <div class="margin-bottom">
          <div class="panel panel-default">
            <header class="panel-heading">
              <h3>Related Ideas</h3>
            </header>
            <div class="panel-body">
              <ul class="list-unstyled">
                <% @project.ideas.order(name: :asc).each do |idea| %>
                  <li><%= link_to idea.name, idea %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      <% end %>

      <% if @project.comments.count > 0 %>
        <div class="margin-bottom">
          <div class="panel panel-default">
            <header class="panel-heading">
              <h3>Comments</h3>
            </header>
            <div class="panel-body">
              <%= comments_and_replies_for @comments %>
            </div>
          </div>
        </div>
      <% end %>
      <%= render 'comments/form' if current_user %>
    </div>

    <div class="col-lg-3 col-sm-4">
      <div class="panel panel-invisible">
        <%= render partial: "shared/support_buttons",  locals: { object: @project } %>
        <%= render partial: "shared/editable_buttons", locals: { object: @project } %>
      </div>

      <% if @project.project_votes.non_participants.count > 0 %>
        <div class="panel panel-default">
          <header class="panel-heading">
            <h3>
              Supporters
              <span class="bubble-right-small bubble-right-inline">
                <%= @project.project_votes.non_participants.count %>
              </span>
            </h3>
          </header>
          <div class="panel-body">
            <a href="#" class="scroller-shower">Show users</a>
            <ul class="scroller-collapser">
              <% @project.project_votes.non_participants.each do |project_vote| %>
                <li>
                  <%= link_to_user project_vote.user %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>

      <% if @project.project_votes.participants.count > 0 %>
        <div class="panel panel-default">
          <header class="panel-heading">
            <h3>
              Would Participate
              <span class="bubble-right-small bubble-right-inline">
                <%= @project.project_votes.participants.count %>
              </span>
            </h3>
          </header>
          <div class="panel-body">
            <a href="#" class="scroller-shower">Show users</a>
            <ul class="scroller-collapser">
              <% @project.project_votes.participants.each do |project_vote| %>
                <li>
                  <%= link_to_user project_vote.user %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
