<div class="profile">

  <h2><%= @project.name %></h2>

  <div class="row">

    <div class="col-lg-9 col-sm-8">

      <div class="subtitle">
        <%= @project.pitch %>
      </div>

      <%= raw @project.description_html %>

      <%
         if @project.competencies.count > 0
           rows = [[]]
           @project.competencies.each do |competency|
             if rows[rows.length - 1].length > 2
               rows << []
             end
             rows[rows.length - 1] << competency
           end
      %>
        <div class="margin-bottom">
          <section class="panel panel-default">
            <header class="panel-heading">
              <h3 class="panel-title">Related Competencies</h3>
            </header>
            <div class="panel-body">
              <% rows.each do |row| %>
                <div class="row">
                  <% row.each do |col| %>
                    <div class="col-md-4"><%= link_to col.name, col %></div>
                  <% end %>
                </div>
              <% end %>
            </div>
          </section>
        </div>
      <% end %>

      <% if @project.users.length > 0 %>
        <div class="margin-bottom">
          <section class="panel panel-default">
            <header class="panel-heading">
              <h3 class="panel-title">Collaborators</h3>
            </header>
            <div class="panel-body">
              <ul class="list-unstyled">
                <% @project.users.order(name_last: :asc, name_first: :asc).each do |user| %>
                  <li><%= link_to user.display_name(:fl), user %></li>
                <% end %>
              </ul>
            </div>
          </section>
        </div>
      <% end %>

      <% if @project.ideas.length > 0 %>
        <div class="margin-bottom">
          <section class="panel panel-default">
            <header class="panel-heading">
              <h3 class="panel-title">Related Ideas</h3>
            </header>
            <div class="panel-body">
              <ul class="list-unstyled">
                <% @project.ideas.order(name: :asc).each do |idea| %>
                  <li><%= link_to idea.name, idea %></li>
                <% end %>
              </ul>
            </div>
          </section>
        </div>
      <% end %>

    </div>

    <div class="col-lg-3 col-sm-4">

      <section class="panel panel-invisible">

        <% unless @project.has_been_voted_for_by? current_user %>

        <%= button_to 'Good Project',
                      project_votes_url(@project),
                      method: :post,
                      params: { participate: false },
                      class: 'btn btn-info btn-block',
                      form_class: 'button_to full-width' %>

        <%= button_to 'Would Participate',
                      project_votes_url(@project),
                      method: :post,
                      params: { participate: true },
                      class: 'btn btn-success btn-block',
                      form_class: 'button_to full-width' %>

        <% end %>

        <% if @project.is_editable_by? current_user %>
        <%= button_to 'Edit',
                      edit_project_url(@project),
                      method: :get,
                      class: 'btn btn-warning btn-block',
                      form_class: 'button_to full-width' %>
        <% end %>

      </section>

      <section class="panel panel-default">
        <header class="panel-heading">
          <h4 class="panel-title">Details</h4>
        </header>
        <div class="panel-body">
          <h5 class="text-muted no-margin-bottom">Phase</h5>
          <p><%= @project.project_status.name %></p>
          <% if @project.project_roles.founders.count > 0 %>
          <h5 class="text-muted no-margin-bottom">Founder<% if @project.project_roles.founders.count > 1 %>s<% end %></h5>
          <ul class="list-unstyled">
            <% @project.project_roles.founders.each do |project_role| %>
              <li><%= link_to project_role.user.display_name, project_role.user %></li>
            <% end %>
          </ul>
          <% end %>
          <% {
                 'Website' => :website_url,
                 'Documentation' => :documentation_url,
                 'Source' => :source_url,
                 'Download' => :download_url
             }.each do |name, attr| next unless @project.send(attr) and @project.send(attr).strip.length > 0 %>
            <h5 class="text-muted no-margin-bottom"><%= name %></h5>
            <%= link_to @project.send(attr), @project.send(attr), target: '_blank', class: 'ellipsis-text-block' %>
          <% end %>
        </div>
      </section>

      <%
      votes_count = @project.project_votes.count
      if votes_count > 0 %>

        <section class="panel panel-default">
          <header class="panel-heading">
            <h4 class="panel-title">Supporters</h4>
          </header>
          <div class="panel-body">
            <ul>
              <% @project.project_votes.take(5).each do |project_vote| %>
                <li><%= link_to project_vote.user.display_name, project_vote.user %><% if project_vote.participate %> <strong style="font-size: 1.2rem">&#9734;</strong><% end %></li>
              <% end %>
            </ul>
          </div>
        </section>

      <% if votes_count > 5 %>
      <p><em><%= link_to 'See More...', '#' %></em></p>
      <% end %>

      <% end %>

    </div>

  </div>

</div>
