<nav class="pull-right">
  <% if @givable_badges.any? %>
    <%= link_to 'Give Badge/Award', new_user_badge_url(@user), class: 'btn btn-create' %>
  <% end %>
</nav>

<h2 class="text-center clear-both">
  Badges and Awards
  <br><small><%= link_to @user.display_name(:fl), @user %></small>
</h2>

<ul class="badges">
  <% @user_badges.each do |user_badge| %>
    <li>
      <%= render partial: '/badges/badge', object: user_badge.badge %>
      <% if @user == current_user %>
        <%= button_to (user_badge.showcase ? 'Hide' : 'Showcase'),
                      user_badge_url(@user, user_badge),
                      method: :put,
                      params: { showcase: !user_badge.showcase },
                      class: 'btn btn-edit btn-block',
                      form_class: 'button_to full-width'
        %>
      <% end %>
      <% if user_badge.badge.is_givable_by?(current_user) || @user == current_user %>
        <%= button_to 'Remove',
                      user_badge_url(@user, user_badge),
                      method: :delete,
                      class: 'btn btn-delete btn-block',
                      form_class: 'button_to full-width',
                      data: { confirm: 'Are you sure you want to remove this badge?' }
        %>
      <% end %>
    </li>
  <% end %>
</ul>
