<header>

  <% unless Rails.env.production? %>
    <div class="env-banner">
      <p>Fear not: You're currently on the <b><%= Rails.env %></b> server!</p>
    </div>
  <% end %>
  <div class="container topbar">
    <div class="row">
      <div class="col-md-3 text-center">
        <%= link_to root_url do %>
          <%= image_tag "/images/header_icons/ucnext.png",
            { alt: "UC NeXt", class: 'img-responsive center-block logo' }
          %>
        <% end %>
        <p>Catch the wave of collaboration</p>
      </div>

      <div class="col-md-3 col-md-offset-6 text-right">
        <h2 class="header-item">
          <%= image_tag "/images/header_icons/wave.png",
            { class: "small-wave" }
          %>
          <%= render "shared/login" %>
        </h2>

        <%= form_tag search_url, { role: "search", class: "header-item search" } do %>
          <input type="text" name="query" placeholder="Search" class="search-input">
          <button class="btn search-button" type="submit"></button>
        <% end %>
      </div>
    </div>
  </div>

  <div class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="container">
        <!-- Collect the nav links and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <%= render 'shared/nav' %>
        </div>
      </div>
    </div>
  </div>

</header>
