<header>

  <div class="container" style="margin-top: 10px; margin-bottom: 10px;">
    <div class="row">
      <div class="col-sm-9">
        <a href="<%= root_url %>">
        <img src="<%= asset_url('images/header_icons/ucnext.png') %>" alt="UC NeXt" style="height:24px;">
        </a>
        <div style="font-size:11px;">Catch the wave of collaboration</div>
      </div>
      <div class="col-sm-3">
        <div style="margin-top: 10px;">
          <% if current_user %>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><%= link_to 'My Profile', user_path(current_user)  %></li>
              <% if current_user.super_admin %>
              <li class="divider"></li>
              <li><%= link_to 'Competencies', competencies_path %></li>
              <li><%= link_to 'Resources', resources_path %></li>
              <% if Rails.application.config.respond_to?(:auth) and Rails.application.config.auth.respond_to?(:allow_local) and Rails.application.config.auth.allow_local %>
                  <li><%= link_to 'Local Accounts', local_users_path  %></li>
              <% end %>
              <li><%= link_to 'Badges/Awards', badges_path  %></li>
              <li class="divider"></li>
              <% end %>
              <li><%= link_to 'Logout',
                              auth_path,
                              :method => :delete,
                              :data => { :confirm => 'Are you sure you wish to logout?' }
              %></li>
            </ul>
          <% else %>
            <img src="<%= asset_url('images/header_icons/wave.png') %>" alt="" style="height:24px; margin-top: -6px">
            <span><%= link_to 'Login', (Rails.application.config.respond_to?(:auth) and Rails.application.config.auth.respond_to?(:route)) ? Rails.application.config.auth.route : auth_oauth2_launch_url(:shibboleth) %></span>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <div class="col-sm-8">

          <%= render 'shared/nav' %>

        </div>

        <div class="col-sm-4">

          <form action="<%= search_url %>" role="search" style="position: relative; margin-top: 10px;">
            <input name="query" type="text" placeholder="Search" style="width:100%;padding:0 15px 0 5px;border-radius: 4px; border:1px solid #bbb;">
            <button type="submit" style="border:none;background:transparent; position:absolute;top:-2px;right:0;">&#8981;</button>
          </form>

        </div>

      </div>
    </div>
  </div>

</header>
