<header>

  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <%= link_to(root_url, { class: "valign-middle" }) do %>
          <%= image_tag "/images/header_icons/ucnext.png",
            { alt: "UC NeXt", class: 'logo' }
          %>
        <% end %>
      </div>

      <div class="col-md-4">
        <h2 class="header-item">Catch the wave of collaboration</h2>
      </div>

      <div class="col-md-2 text-right-md text-right-lg">
        <h2 class="header-item">
          <%= image_tag "/images/header_icons/wave.png",
            { class: "small-wave" }
          %>

          <%= render "shared/login" %>
        </h2>
      </div>

      <div class="col-md-3">
        <%= form_tag search_url, { role: "search", class: "header-item search" } do %>
          <input type="text" name="query" placeholder="Search">
          <button class="btn" type="submit"></button>
        <% end %>
      </div>
    </div>
  </div>

  <div class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="container">
        <!-- Collect the nav links and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <%= render 'shared/nav' %>
        </div>
      </div>
    </div>
  </div>

</header>
