<header>

  <% unless Rails.env.production? %>
    <div class="env-banner">
      <p>Fear not: You're currently on the <b><%= Rails.env %></b> server!</p>
    </div>
  <% end %>
  <div class="container topbar" style="padding-bottom: 0px;">
    <div class="row">
      <div class="col-md-3 text-center">
        <%= link_to root_url do %>
          <%= image_tag "/images/header_icons/ucnext.png",
            { alt: "UC NeXt", class: 'img-responsive center-block logo' }
          %>
        <% end %>
        <p>Catch the wave of collaboration</p>
      </div>

      <div class="col-md-9 text-right">
        <div class="row">
          <div class="col-md-3 col-md-push-9">
            <h2 class="header-item">
              <% if current_user %>
                <% if current_user.profile_image.blank? %>
                  <%= image_tag "/images/profile/default-80x80.png", { height: 25 } %>
                <% else %>
                  <%= image_tag "data:img/png;base64,#{current_user.profile_image}", { height: 25 } %>
                <% end %>
              <% else %>
                <%= image_tag "/images/header_icons/wave.png", { height: 25 } %>
              <% end %>
              <%= render "shared/login" %>
            </h2>
          </div>
          <div class="col-md-5 col-md-offset-4 col-md-pull-3"> 
            <%= form_tag search_url, { role: "search", class: "header-item search" } do %>
              <label for="search-query" class="sr-only">Search Query</label>
              <input type="text" name="query" id="search-query" placeholder="Search" class="search-input">
              <button class="btn search-button" type="submit" aria-label="Search"></button>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="container">
        <!-- Collect the nav links and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <%= render 'shared/nav' %>
        </div>
      </div>
    </div>
  </div>

</header>
