<!DOCTYPE html>
<html>
<head>
  <title>UC NeXt Ideas</title>
  <%= stylesheet_link_tag    'blocks', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'blocks', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery_ujs', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" href="<%= asset_url('images/appicon.png') %>" />
</head>
<body>

  <%= render 'layouts/components/topbar' %>

  <main class="container-fluid">
    <% if flash[:page_alert] %>
      <div class="alert alert-<%= flash[:page_alert_type] || 'info' %> alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <%= raw flash[:page_alert] %>
      </div>
    <% end %>
    <%= yield %>
  </main>

  <%= render 'layouts/components/footer' %>

</body>
</html>
