<!DOCTYPE html>
<html>
<head>
  <title>UC NeXt Ideas</title>
  <%= stylesheet_link_tag    'blocks', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'blocks', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery_ujs', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<%= yield %>

</body>
</html>
