<p>Hi,</p>


<p>You have been invited to the event <%= @event.name %> by the UC NeXt user <%= @event.user.name_first %> <%= @event.user.name_last %>. Please RSVP by clicking Accept or Decline.</p>

<p><%= link_to "Accept", accept_invitation_url(@invite) %><br /></p>

<p><%= link_to "Decline", decline_invitation_url(@invite) %></p>
